


.home
{
    height: 100vh;
    grid-template-rows: 7rem 1fr;
    background-color: var(--background);
    border-radius: 0;
}

.home > header
{
    height: 15%;
}

.navbar
{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    animation-duration: 0.5s;
    background-color: var(--background);
}  

.navbar-nav, .logo-section
{
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar-nav
{
    gap: 2rem;
    display: none;
    margin-right: 2rem;
}

.nav-item > img
{
    margin-left: 0.7rem;
} 

.nav-item
{
    font-weight: 300;
    font-size: 1.2rem;
 
    text-align: center;
    cursor: pointer;
}

.nav-item > p
{
    color: white;
    text-transform: capitalize;
}

.categories
{
    display: flex;
    align-items: center;
}

.dropdown
{
    position: absolute;
    top: 5.5rem;
    right: 0;
    width: 20rem;
    margin-right: 1rem;
    background-color: var(--primary);
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    animation: slideBottom2 0.5s ease;
    display: none;
    border: 1px solid white;
}


.dropdown > li
{
    font-size: 1rem;
    font-weight: 200;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}

.dropdown > li:not(:last-child)
{
    border-bottom: 1px solid white;
}

.logo-section > h1
{
    font-size: clamp(2rem, 2.5vw, 3rem);
    font-weight: 400;
}

.logo-section > img
{
    filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(263deg) brightness(110%) contrast(101%);
    width: 3rem;
}

.logo-section
{
    margin-left: 0.5rem;
}

.arrowDown
{
    filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(263deg) brightness(110%) contrast(101%);
    width: 0.9rem;
    margin-left: 5px;
}

.dropdown > li:hover
{
    filter: brightness(1.5);
    background-color: var(--background);
}

.menuButton
{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.menuButton > img
{
    filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(263deg) brightness(110%) contrast(101%);   
    float: right;
    height: 1.5rem;
}

.menuButton:hover
{
    filter: brightness(0.7);
}


.menu-options
{
    background-color: var(--background);
}

.menu-options p
{
   
    color: white;
    border-bottom: 1px solid var(--primary);
    font-size: 1rem;
    font-weight: 200;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main
{
    height: 85%;
    width: 100vw;
    display: flex;
    align-items: center;
}

.home .swiper 
{
    height: 95%;
    width: 95%;
    border-radius: 10px;
    border: 1px solid white;
}
  
.swiper-slide 
{
    height: 80%;
    width: 100%;
}
  
.swiper-slide > img 
{
    width: 100%;
    height: 100%;
}
   
  
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 1;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}
  
.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: white;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* ANIMATIONS */
@keyframes slideBottom {
    from
    {
        transform: translateY(-50%);
    }

    to
    {
        transform: translateY(0%);
    }
}

@keyframes slideBottom2 {
    from
    {
        transform: translateY(-15%);
    }

    to
    {
        transform: translateY(0%);
    }
}

@keyframes slideToRight {
    from
    {
        transform: translateX(-100%);
    }
    to
    {
        transform: translateX(0%);
    }
}

/* For tables*/
@media screen and (min-width: 768px) 
    {
        
        .logo-section > img
        {
            filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(263deg) brightness(110%) contrast(101%);
            width: 3.5rem;
        }

        .menu-options > p
        {
            font-size: 1.2rem;
        }

        .menuButton > img
        {
            height: 1.5rem;
        }

        .logo-section
        {
            margin-left: 2rem;
        }

        .menuButton
        {
            margin-right: 2rem;
        }
        

    }
  
  /* Media query for small desktops */
@media screen and (min-width: 992px) {
    .menuButton, .menu-options
    {
        display: none;
    }

    .navbar-nav
    {
        display: flex;
    }

    .dropdown{
        z-index: 100;
        display: block;
    }

    .swiper
    {
        width: 98%;
    }

    .swiper-slide > img 
    {
        width: 100%;
        height: 100%;
    }

    .menu-options
    {
        display: none;
    }
 
  }
  
  /* Media query for large desktops */
@media screen and (min-width: 1200px) 
{
    .logo-section
    {
    margin-left: 1rem;
    }
}