
body
{
    background-color: var(--background);
}


.navbar
{
   
    color: white;
    width: 100vw;
    height: 7rem;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
}

.header > *
{
    color: white;
}

.navbar-nav, .logo-section
{
    padding: 0 1rem;
    display: flex;
    height: inherit;
    align-items: center;
    gap: 1rem;
}

.navbar-nav
{
    gap: 2rem;
}
.nav-item
{
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}



.nav-item > a
{
    color: white;
    text-transform: capitalize;
}

.dropdown
{
    position: absolute;
    top: 5.5rem;
    right: 0;
    width: 20rem;
    margin-right: 1rem;
    background-color: var(--background);
    border-radius: 10px;
    color: white;
    background-color: rgba(0,0,0,0.7);
}

.dropdown > li
{
    font-size: 1rem;
    font-weight: 200;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-section > h1
{
    font-size: 3rem;
    font-weight: 500;
}

.logo-section > img
{
    filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(263deg) brightness(110%) contrast(101%);
    width: 3.5rem;
}

.arrowDown
{
    filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(263deg) brightness(110%) contrast(101%);
    width: 0.9rem;
    margin-left: 5px;
}

.dropdown > li:hover
{
    filter: brightness(1.5);
    background-color: var(--background);
}
