
.movies
{
    background-color: var(--background);
    height: auto;
    width: 100vw;
    padding-bottom: 1rem;
}

.movies header
{
    width: 100%;
    background-color: red;
    height: 25%;
    color: white;
}

.back-to-home
{
    background-color: var(--background);
    height: auto;
    width: 100%;
    padding: 0.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.back-to-home span
{
    cursor: pointer;
    margin-left: 1rem;
    color: white;
    color: var(--hover-clr);

}

.back-to-home a > span
{
    color: white;
}

.back-to-home span:hover
{
    color: var(--hover-clr);   
}

.navbar-container
{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: var(--primary);
}

.movies-navbar
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
}

.test
{
    background-color: var(--background);
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    height: 3rem;
    display: flex;
    border-radius: 10px;
}


.movies-nav-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    width: inherit;
}


.movies .arrowDown
{
    width: 0.7rem;
}

#movies-dropdown
{
    position: absolute;
    z-index: 500;
    display: flex;
    flex-direction: column;
    width: inherit;
    border-radius: 10px;
    font-size: 1rem;
    top: 3rem;
    background-color: var(--background);
    border: 1px solid white;

}

#movies-dropdown > li
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

#movies-dropdown > li:hover{
    background-color: var(--primary);
    opacity: 0.6;
}

#movies-dropdown > li:not(:last-child)
{
    border-bottom: 1px solid white;
}

.movies-main
{
    height: 75%;
    width: 100%;
    margin-top: 1rem;
    overflow-y: scroll;
}

.movie-list
{
    height: 70%;
    width: 93%;
    margin: auto;
    color: white;
}

.list
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: hidden;
    gap: 1rem;
    position: relative;
}

.list > li
{
    width: 100%;
    height: 20rem;
}

.list > li > button
{
    display: none;
}

.list > li
{
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid white;
    position: relative;
}

.movie-title
{
    justify-self: center;
    align-self: flex-end;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--primary);
    color: white;
    padding: 0 3rem;
    max-height: 5rem;
    display: flex;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 95%;
    text-align: center;
}

.vote
{
    background-color: var(--hover-clr);
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    color: black;
}


.list > li
{
    cursor: pointer;
}

.list > li:hover
{
    filter: brightness(1.15);
}

.click
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
    background-color: rgba(16, 20, 40, 0.95);
}

.top
{
    width: 100%;
    height: 2rem;
    border-bottom: 2px solid var(--primary);
}

.pop-up
{
    background-color: white;
    width: 93%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right 2rem;
    border-radius: 10px;
    border: 5px solid var(--primary);
}

.top > img
{
    width: 2rem;
    filter: invert(13%) sepia(87%) saturate(6518%) hue-rotate(359deg) brightness(109%) contrast(118%);
    float: right;
    cursor: pointer;
}

.top > img:hover
{
    filter: brightness(1.2);
}

/*ANIMATIONS*/
@keyframes slide {
    from
    {
        transform: translateX(-20%);
    }

    to
    {
        transform: translateY(0%);
    }
}

@media screen and (min-width: 700px) {
    .list
    {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-x: hidden;
        gap: 1rem;

    }

    .movie-list
    {
        width: 97%;
    }

    .pop-up
    {
        width: 70%;
    }


}

/* Media query for small desktop screens */
@media screen and (min-width: 1024px) {
    .list
    {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-x: hidden;
        gap: 1rem;

    }

    .pop-up
    {
        width: 60%;
    }
   
}

/* Media query for larger desktop screens */
@media screen and (min-width: 1440px) {
    .pop-up
    {
        width: 50%;
    }
}
